<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Almacen_ETR.Properties.Settings.ALMACENConnectionString"
            connectionString="Data Source=JASA;Initial Catalog=ALMACEN;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Almacen_ETR.Properties.Settings.laboratoryConnectionString"
            connectionString="Data Source=Desktop-Jasa;Initial Catalog=laboratory;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>